<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new message</title>
</head>

<body>
    <h1>Add new message</h1>
    <form action="/new" method="post">
        <label for="name">Author name:</label>
        <br>
        <input type="text" id="name" name="name" placeholder="Enter author name">
        <br>
        <label for="message">Message:</label>
        <br>
        <textarea name="message" id="message" placeholder="Enter message"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>

</html>